astropy==5.1
setuptools==65.0.2
cdasws==1.7.37
ConfigParser==5.2.0
dataclasses_json==0.5.7
h5py==3.7.0
matplotlib==3.1.2
numpy==1.21.4
Pillow==9.1.1
progressbar33==2.4
pyhdf==0.10.5
#rpy #this package can not be found , help is appreciated
scipy==1.7.3
spacepy==0.3.0
cdflib==0.4.4
xarray==2022.3.0
ai.cdas==1.2.3
netcdf4==1.5.8
git+https://github.com/greglucas/bezpy.git@master

